*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
}

h1 {
    color: #E53170;
    margin: 1.3em;
    text-align: center;
}

.intestazione {
    margin-inline: auto;
    max-width: 900px;
    text-align: center;
    margin-bottom: 3em;
    padding: 0 16px;
}

.container {
    max-width: 1000px;
    margin-inline: auto;
    text-align: center;
}

.card {
    display: inline-block;
    background-color: #000000;
    height: 80px;
    width: 270px;
    margin: 1em 0.9em;
    color: #FFFF;
    text-align: left;
    box-shadow: 0 0 10px 1px #333333;
    outline: none;
}

.text {
    height: 80px;
    justify-content: center;
    padding-top: 0.7em;
}

.descrizione {
    margin-top: 2em;
    margin-bottom: 2em;
}

.img {
    float: left;
    height: 80px;
    padding-right: 1em;
    vertical-align: middle;
    outline: none;
}


.jobs {
    font-size: 12px;
}

.email {
    color: #009DEE;
    font-size: 12px;
}
