*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Dosis', sans-serif;
}

h1 {
    color: #E53170;
    margin: 1.3em;
    text-align: center;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;

}

.intestazione {
    text-align: center;
    margin-bottom: 2em;
}

.container {
    max-width: 1000px;
    margin-inline: auto;
    text-align: center;
}

.card {
    display: inline-block;
    background-color: #000000;
    float: left;
    width: calc(100% / 3 - 2 * 1rem);
    min-width: 280px;
    margin: 1.5rem 0.9rem;
    color: #FFFF;
    text-align: left;
    box-shadow: 0 0 10px 1px #333333;
    overflow: hidden;
}

.card::ove

.card img {
    float: left;
    height: 80px;
    width: 80px;
    object-fit: cover;
    object-position: center;
    margin-right: 1em;
    outline: none;
    
}

.text {
    height: 100%;
    justify-content: center;
    margin-top: 0.5em;
}

.card .nome {
    display: block;
    margin-bottom: 0.3em;
}

.card .jobs {
    font-size: 0.8rem;
    margin-bottom: 0.3em;
}

.card .email {
    color: #009DEE;
    font-size: 0.8rem;
}
