*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: palevioletred;
    margin: 1.3em;
    text-align: center;
}

.intestazione {
    margin-inline: auto;
    max-width: 900px;
    text-align: center;
    margin-bottom: 1.5em;
    padding: 0 16px;
}

.container {
    max-width: 900px;
    margin-inline: auto;
    text-align: center;
}

.card {
    display: inline-block;
    background-color: #000000;
    height: 80px;
    width: 270px;
    margin: 1em 1em;
    color: #FFFF;
    text-align: left;
    box-shadow: 0 0 10px 1px #333333;
}

.text {
    margin: 0.3em;
    vertical-align: middle;
}

.descrizione {
    margin-top: 2em;
    margin-bottom: 2em;
}

.img {
    float: left;
    height: 80px;
    padding-right: 1em;
    vertical-align: middle;
}

.jobs {
    font-size: 14px;
}

.email {
    color: aquamarine;
    font-size: 11px;
}
